<section>
  <hr>
    <article>{{level}}</article>
    <article>
      {{answer1}}
    </article>
    <article>{{answer2}}</article>
    <div>{{button}}</div>
<section>



  <section class="article-body">{{{body}}}</section>
  <a href="#" class="read-on">Read on &rarr;</a>
</section>
